# Configs
.env*

# Keys
id_*
client_secret_*

# Compiled output
packages/*/.types/
root/public/assets/
root/lib/

# Other
node_modules/
build/
out/
tmp/
sandbox/
.vscode/
.idea/
*.tsbuildinfo
*.log
*.bak
*~

# Custom scripts
deploy.sh
